<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#STEPS-" data-toc-modified-id="STEPS--1"><span class="toc-item-num">1&nbsp;&nbsp;</span>STEPS <br></a></span></li><li><span><a href="#API-" data-toc-modified-id="API--2"><span class="toc-item-num">2&nbsp;&nbsp;</span>API <br></a></span><ul class="toc-item"><li><span><a href="#Preparing-movie-title-list" data-toc-modified-id="Preparing-movie-title-list-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Preparing movie title list</a></span></li><li><span><a href="#Extracting-full-info-about-each-movie-from-the-generated-list" data-toc-modified-id="Extracting-full-info-about-each-movie-from-the-generated-list-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Extracting full info about each movie from the generated list</a></span></li><li><span><a href="#Changing-column-names" data-toc-modified-id="Changing-column-names-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Changing column names</a></span></li><li><span><a href="#Saving-results-to-CSV" data-toc-modified-id="Saving-results-to-CSV-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Saving results to CSV</a></span></li></ul></li><li><span><a href="#WEB-SCRAPING-" data-toc-modified-id="WEB-SCRAPING--3"><span class="toc-item-num">3&nbsp;&nbsp;</span>WEB SCRAPING <br></a></span><ul class="toc-item"><li><span><a href="#Preparing-the-list-of-IMDB-IDs" data-toc-modified-id="Preparing-the-list-of-IMDB-IDs-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Preparing the list of IMDB IDs</a></span></li><li><span><a href="#Extracting-Director,-Title,-Rating,-Year,-Videos-Link-from-IMDB" data-toc-modified-id="Extracting-Director,-Title,-Rating,-Year,-Videos-Link-from-IMDB-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Extracting Director, Title, Rating, Year, Videos Link from IMDB</a></span></li><li><span><a href="#Saving-result-to-CSV" data-toc-modified-id="Saving-result-to-CSV-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Saving result to CSV</a></span></li></ul></li><li><span><a href="#DATA-CHECK-" data-toc-modified-id="DATA-CHECK--4"><span class="toc-item-num">4&nbsp;&nbsp;</span>DATA CHECK <br></a></span><ul class="toc-item"><li><span><a href="#Check-why-in-two-columns-have-different-year-(data-from-API)" data-toc-modified-id="Check-why-in-two-columns-have-different-year-(data-from-API)-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Check why in two columns have different year (data from API)</a></span></li><li><span><a href="#API-data-vs-web-scraping-IMDB" data-toc-modified-id="API-data-vs-web-scraping-IMDB-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>API data vs web scraping IMDB</a></span></li><li><span><a href="#Creating-one-dataframe-with-the-most-important-info-from-API-and-IMDB,-saving-to-CSV" data-toc-modified-id="Creating-one-dataframe-with-the-most-important-info-from-API-and-IMDB,-saving-to-CSV-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Creating one dataframe with the most important info from API and IMDB, saving to CSV</a></span></li></ul></li><li><span><a href="#RATING-CORRELATION-TO-VALENTINE'S-DAY-" data-toc-modified-id="RATING-CORRELATION-TO-VALENTINE'S-DAY--5"><span class="toc-item-num">5&nbsp;&nbsp;</span>RATING CORRELATION TO VALENTINE'S DAY <br></a></span><ul class="toc-item"><li><span><a href="#Getting-the-number-of-days-to-Valentine's-day-per-movie" data-toc-modified-id="Getting-the-number-of-days-to-Valentine's-day-per-movie-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Getting the number of days to Valentine's day per movie</a></span></li><li><span><a href="#Binning-the-data-based-on-the-days-to-Valentine's-day" data-toc-modified-id="Binning-the-data-based-on-the-days-to-Valentine's-day-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Binning the data based on the days to Valentine's day</a></span></li><li><span><a href="#Checking-the-correlation-between-the-rating-and-the-days-to-Valentine's-day" data-toc-modified-id="Checking-the-correlation-between-the-rating-and-the-days-to-Valentine's-day-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Checking the correlation between the rating and the days to Valentine's day</a></span></li></ul></li></ul></div>

In [1]:
#TO DOs

#function descriptions
#check if can use that ironhack spider in web scraping, at least take functions for timesleep and errors
#save results to CSV: API, IMDB, BOTH

## STEPS <br>

- Use OMDB API: http://www.omdbapi.com/#usage
- Do the API request with the search, movies with word 'love', extract info from 4 pages
- Like that get the list of titles of the movies
- Do another API request title by title to get all info about the movies
- Put info from both requests to one dataframe
- Scrape IMDB based on IMDB ID to get the main info from there
- Check if data is matching in the dataframes form API and IMDB in these columns: Title, Year, Director, IMDB Rating
- Prepare one file with information from API and IMDB and export

## API <br>

- For the API portion of the project will need to make calls to your chosen API, successfully obtain a response, request data, convert it into a Pandas data frame, and export it as a CSV file.

In [2]:
from pandas.io.json import json_normalize
import pandas as pd
import json
import requests
from bs4 import BeautifulSoup
from urllib.request import urlopen
import re


#check if using this library
import time

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

### Preparing movie title list

- Extracting titles that include word 'love', loading 4 pages
- Converting names into the correct format to later pass them to the URL

In [5]:
#in the range indicate how many pages want to check (API in general gives MAX 10 movies per search)
#adding all the movie names to one list
#per each loop generating json for one page and extracting titles
#changing titles to the correct format to later pass to the URL

def formatted_titles_api(url_pat):
    """
    Function Description
    
    """
    final_list = []
    for page in range(1,5):
        page = str(page)
        url = url_pat + page
        response = requests.get(url)
        results = response.json()
        title_box = results.get('Search')
        title_list = [title.get('Title') for title in title_box]
        final_list += title_list
        titles_formatted = [string.replace(" ", "+") for string in final_list]
    return titles_formatted

In [6]:
#calling the function

url_pat= 'http://www.omdbapi.com/?i=tt3896198&apikey=aab3947e&s=love&type=movie&page='
titles_formatted = formatted_titles_api(url_pat)
titles_formatted

['Crazy,+Stupid,+Love.',
 'Dr.+Strangelove+or:+How+I+Learned+to+Stop+Worrying+and+Love+the+Bomb',
 'Love,+Actually',
 'Shakespeare+in+Love',
 'P.S.+I+Love+You',
 'I+Love+You,+Man',
 'Love+&+Other+Drugs',
 'Punch-Drunk+Love',
 'Love,+Rosie',
 'In+the+Mood+for+Love',
 'From+Russia+with+Love',
 'From+Paris+with+Love',
 'I+Love+You+Phillip+Morris',
 'Love,+Simon',
 'Eat+Pray+Love',
 'To+Rome+with+Love',
 'Stuck+in+Love.',
 'A+Lot+Like+Love',
 'Love+Me+If+You+Dare',
 'Wristcutters:+A+Love+Story',
 'The+Love+Guru',
 'Show+Me+Love',
 'New+York,+I+Love+You',
 'American+Pie+Presents:+The+Book+of+Love',
 'Love',
 'Capitalism:+A+Love+Story',
 'Endless+Love',
 'Down+with+Love',
 'Sea+of+Love',
 'Everyone+Says+I+Love+You',
 'Love+and+Death',
 'Love+&+Mercy',
 'I+Love+You,+Beth+Cooper',
 'The+One+I+Love',
 "Can't+Buy+Me+Love",
 'For+Love+of+the+Game',
 'All+the+Boys+Love+Mandy+Lane',
 'Love+Happens',
 'Must+Love+Dogs',
 'Love+Story']

### Extracting full info about each movie from the generated list

In [7]:
def movies_info_api(url_pattern):
    """
    Function Description
    
    """
    appended_dfs=[]
    for title in titles_formatted:
        url = url_pattern + title
        response = requests.get(url)
        results = response.json()
        flattened_data = json_normalize(results)
        #appending dataframes to the list to later concatenate them to one dataframe
        appended_dfs.append(flattened_data)
        love_movies = pd.concat(appended_dfs, ignore_index = True) #ignoring index, to have 0,1,2...n, if not, get 0,0,0,...

    return love_movies

In [8]:
#calling the function

url_pattern = 'http://www.omdbapi.com/?i=tt3896198&apikey=aab3947e&t='
love_movies = movies_info_api(url_pattern)
love_movies.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Ratings,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,"Crazy, Stupid, Love.",2011,PG-13,29 Jul 2011,118 min,"Comedy, Drama, Romance","Glenn Ficarra, John Requa",Dan Fogelman,"Steve Carell, Ryan Gosling, Julianne Moore, Emma Stone","A middle-aged husband's life changes dramatically when his wife asks him for a divorce. He seeks to rediscover his manhood with the help of a newfound friend, Jacob, learning to pick up girls at bars.",English,USA,Nominated for 1 Golden Globe. Another 3 wins & 22 nominations.,https://m.media-amazon.com/images/M/MV5BMTg2MjkwMTM0NF5BMl5BanBnXkFtZTcwMzc4NDg2NQ@@._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '7.4/10'}, {'Source': 'Rotten Tomatoes', 'Value': '79%'}, {'Source': 'Metacritic', 'Value': '68/100'}]",68,7.4,"447,664",tt1570728,movie,01 Nov 2011,"$83,300,000",Warner Bros. Pictures,N/A,True
1,Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb,1964,PG,29 Jan 1964,95 min,Comedy,Stanley Kubrick,"Stanley Kubrick (screenplay), Terry Southern (screenplay), Peter George (screenplay), Peter George (based on the book: ""Red Alert"" by)","Peter Sellers, George C. Scott, Sterling Hayden, Keenan Wynn",An insane general triggers a path to nuclear holocaust that a War Room full of politicians and generals frantically tries to stop.,"English, Russian","UK, USA",Nominated for 4 Oscars. Another 13 wins & 7 nominations.,https://m.media-amazon.com/images/M/MV5BZWI3ZTMxNjctMjdlNS00NmUwLWFiM2YtZDUyY2I3N2MxYTE0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '8.4/10'}, {'Source': 'Rotten Tomatoes', 'Value': '98%'}, {'Source': 'Metacritic', 'Value': '97/100'}]",97,8.4,"427,212",tt0057012,movie,02 Nov 2004,N/A,Sony Pictures,N/A,True
2,"Love, Actually",2003,R,14 Nov 2003,135 min,"Comedy, Drama, Romance",Richard Curtis,Richard Curtis,"Bill Nighy, Gregor Fisher, Rory MacGregor, Colin Firth","Follows the lives of eight very different couples in dealing with their love lives in various loosely interrelated tales all set during a frantic month before Christmas in London, England.","English, Portuguese, French","UK, USA, France",Nominated for 2 Golden Globes. Another 10 wins & 27 nominations.,https://m.media-amazon.com/images/M/MV5BMTY4NjQ5NDc0Nl5BMl5BanBnXkFtZTYwNjk5NDM3._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '7.6/10'}, {'Source': 'Rotten Tomatoes', 'Value': '64%'}, {'Source': 'Metacritic', 'Value': '55/100'}]",55,7.6,"405,898",tt0314331,movie,27 Apr 2004,"$59,365,105",Universal Pictures,N/A,True
3,Shakespeare in Love,1998,R,08 Jan 1999,123 min,"Comedy, Drama, History, Romance",John Madden,"Marc Norman, Tom Stoppard","Geoffrey Rush, Tom Wilkinson, Steven O'Donnell, Tim McMullan","The world's greatest ever playwright, William Shakespeare, is young, out of ideas and short of cash, but meets his ideal woman and is inspired to write one of his most famous plays.",English,"USA, UK",Won 7 Oscars. Another 57 wins & 87 nominations.,https://m.media-amazon.com/images/M/MV5BM2ZkNjM5MjEtNTBlMC00OTI5LTgyYmEtZDljMzNmNzhiNzY0XkEyXkFqcGdeQXVyNDYyMDk5MTU@._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '7.1/10'}, {'Source': 'Rotten Tomatoes', 'Value': '92%'}, {'Source': 'Metacritic', 'Value': '87/100'}]",87,7.1,"205,961",tt0138097,movie,10 Aug 1999,N/A,Miramax,N/A,True
4,P.S. I Love You,2007,PG-13,21 Dec 2007,126 min,"Comedy, Drama, Romance",Richard LaGravenese,"Richard LaGravenese (screenplay), Steven Rogers (screenplay), Cecelia Ahern (novel)","Hilary Swank, Gerard Butler, Lisa Kudrow, Gina Gershon",A young widow discovers that her late husband has left her 10 messages intended to help ease her pain and start a new life.,English,USA,2 wins & 4 nominations.,https://m.media-amazon.com/images/M/MV5BNTg2MDg4MjI5NV5BMl5BanBnXkFtZTcwMzQ0MDczMw@@._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '7.0/10'}, {'Source': 'Metacritic', 'Value': '39/100'}]",39,7.0,"194,541",tt0431308,movie,05 Feb 2008,N/A,N/A,N/A,True

### Changing column names

In [9]:
# changing column names to lowercase and to snake

love_movies.columns

love_movies.rename(columns=lambda x: x.strip().lower(), inplace=True)
colnames = ['title', 'year', 'rated', 'released_spain', 'runtime', 'genre', 'director',
       'writer', 'actors', 'plot', 'language', 'country', 'awards', 'poster',
       'ratings', 'metascore', 'imdb_rating', 'imdb_votes', 'imdb_id', 'type',
       'dvd', 'boxoffice', 'production', 'website', 'response']

love_movies.columns = colnames
love_movies.head()

Index(['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director',
       'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster',
       'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type',
       'DVD', 'BoxOffice', 'Production', 'Website', 'Response'],
      dtype='object')

,title,year,rated,released_spain,runtime,genre,director,writer,actors,plot,language,country,awards,poster,ratings,metascore,imdb_rating,imdb_votes,imdb_id,type,dvd,boxoffice,production,website,response
0,"Crazy, Stupid, Love.",2011,PG-13,29 Jul 2011,118 min,"Comedy, Drama, Romance","Glenn Ficarra, John Requa",Dan Fogelman,"Steve Carell, Ryan Gosling, Julianne Moore, Emma Stone","A middle-aged husband's life changes dramatically when his wife asks him for a divorce. He seeks to rediscover his manhood with the help of a newfound friend, Jacob, learning to pick up girls at bars.",English,USA,Nominated for 1 Golden Globe. Another 3 wins & 22 nominations.,https://m.media-amazon.com/images/M/MV5BMTg2MjkwMTM0NF5BMl5BanBnXkFtZTcwMzc4NDg2NQ@@._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '7.4/10'}, {'Source': 'Rotten Tomatoes', 'Value': '79%'}, {'Source': 'Metacritic', 'Value': '68/100'}]",68,7.4,"447,664",tt1570728,movie,01 Nov 2011,"$83,300,000",Warner Bros. Pictures,N/A,True
1,Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb,1964,PG,29 Jan 1964,95 min,Comedy,Stanley Kubrick,"Stanley Kubrick (screenplay), Terry Southern (screenplay), Peter George (screenplay), Peter George (based on the book: ""Red Alert"" by)","Peter Sellers, George C. Scott, Sterling Hayden, Keenan Wynn",An insane general triggers a path to nuclear holocaust that a War Room full of politicians and generals frantically tries to stop.,"English, Russian","UK, USA",Nominated for 4 Oscars. Another 13 wins & 7 nominations.,https://m.media-amazon.com/images/M/MV5BZWI3ZTMxNjctMjdlNS00NmUwLWFiM2YtZDUyY2I3N2MxYTE0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '8.4/10'}, {'Source': 'Rotten Tomatoes', 'Value': '98%'}, {'Source': 'Metacritic', 'Value': '97/100'}]",97,8.4,"427,212",tt0057012,movie,02 Nov 2004,N/A,Sony Pictures,N/A,True
2,"Love, Actually",2003,R,14 Nov 2003,135 min,"Comedy, Drama, Romance",Richard Curtis,Richard Curtis,"Bill Nighy, Gregor Fisher, Rory MacGregor, Colin Firth","Follows the lives of eight very different couples in dealing with their love lives in various loosely interrelated tales all set during a frantic month before Christmas in London, England.","English, Portuguese, French","UK, USA, France",Nominated for 2 Golden Globes. Another 10 wins & 27 nominations.,https://m.media-amazon.com/images/M/MV5BMTY4NjQ5NDc0Nl5BMl5BanBnXkFtZTYwNjk5NDM3._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '7.6/10'}, {'Source': 'Rotten Tomatoes', 'Value': '64%'}, {'Source': 'Metacritic', 'Value': '55/100'}]",55,7.6,"405,898",tt0314331,movie,27 Apr 2004,"$59,365,105",Universal Pictures,N/A,True
3,Shakespeare in Love,1998,R,08 Jan 1999,123 min,"Comedy, Drama, History, Romance",John Madden,"Marc Norman, Tom Stoppard","Geoffrey Rush, Tom Wilkinson, Steven O'Donnell, Tim McMullan","The world's greatest ever playwright, William Shakespeare, is young, out of ideas and short of cash, but meets his ideal woman and is inspired to write one of his most famous plays.",English,"USA, UK",Won 7 Oscars. Another 57 wins & 87 nominations.,https://m.media-amazon.com/images/M/MV5BM2ZkNjM5MjEtNTBlMC00OTI5LTgyYmEtZDljMzNmNzhiNzY0XkEyXkFqcGdeQXVyNDYyMDk5MTU@._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '7.1/10'}, {'Source': 'Rotten Tomatoes', 'Value': '92%'}, {'Source': 'Metacritic', 'Value': '87/100'}]",87,7.1,"205,961",tt0138097,movie,10 Aug 1999,N/A,Miramax,N/A,True
4,P.S. I Love You,2007,PG-13,21 Dec 2007,126 min,"Comedy, Drama, Romance",Richard LaGravenese,"Richard LaGravenese (screenplay), Steven Rogers (screenplay), Cecelia Ahern (novel)","Hilary Swank, Gerard Butler, Lisa Kudrow, Gina Gershon",A young widow discovers that her late husband has left her 10 messages intended to help ease her pain and start a new life.,English,USA,2 wins & 4 nominations.,https://m.media-amazon.com/images/M/MV5BNTg2MDg4MjI5NV5BMl5BanBnXkFtZTcwMzQ0MDczMw@@._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '7.0/10'}, {'Source': 'Metacritic', 'Value': '39/100'}]",39,7.0,"194,541",tt0431308,movie,05 Feb 2008,N/A,N/A,N/A,True

### Saving results to CSV

## WEB SCRAPING <br>

- For the web scraping portion of the project, you will need to scrape the HTML from your chosen page, parse the HTML to extract the necessary information, and either save the results to a text (txt) file if it is text or into a CSV file if it is tabular data.

### Preparing the list of IMDB IDs

In [10]:
#taking movie IDs from API dataframe, to use them for scraping IMDB

id_list = list(love_movies['imdb_id'])

### Extracting Director, Title, Rating, Year, Videos Link from IMDB

In [11]:
#creating function to scrape data from IMDB

def scraped_info_to_dataframe(url_pattern):
    """
    Function Description
    
    """
    info_final = []

    for m_id in id_list:
        url = url_pattern + m_id

        html = urlopen(url)
        soup = BeautifulSoup(html, 'lxml')

        #extracting director
        summary = soup.find_all('div', {'class':'credit_summary_item'})
        director = summary[0].get_text().strip().split('\n')[1]

        #extracting title
        title_box = soup.find_all('h1', {'class':''})
        for t in title_box:
            title = t.text.split('\xa0')[0]
        #if title is in Spanish, means that original title class exists, then take the title from there, to have it in English    
        original_title_box = soup.find_all('div', {'class':'originalTitle'})
        if original_title_box:
            title_long = [t.text.split('\xa0')[0] for t in original_title_box]
            pattern = re.compile("(.*?)\s*\((.*?)\)") #only taking the string part before the ()
            for string in title_long:
                title = pattern.match(string).group(1)

        #extracting rating
        rating_box = soup.find_all('div', {'class':'ratingValue'})
        rates = [rate.text.strip() for rate in rating_box]
        pattern = '\d+\D\d' #extracting format only x.x
        for ratio in rates:
            rating = re.findall(pattern,ratio)[0]

        #extracting year
        year_box = soup.find_all('h1', {'class':''})
        year_long = [y.text.strip().split('\xa0')[1] for y in year_box]
        pattern = re.compile(".*?\((.*?)\)") #extrcting year from ()
        for string in year_long:
            year = pattern.match(string).group(1)
        
        #adding links to videos per movie
        videos = 'https://www.imdb.com/title/x/videogallery/?ref_=tt_ql_pv_2'
        for m_id in id_list:
            videos = videos.replace('x', m_id)
        
        #adding all info to one nested list
        info_final += [[title, year, rating, director, videos]]

    #creating dataframe with the scraped info
    colnames = ['title', 'year', 'imdb_rating','director', 'video_link']
    love_movies_imdb = pd.DataFrame(info_final)
    love_movies_imdb.columns = colnames
    
    return love_movies_imdb

In [12]:
#calling the function

url_pattern = 'https://www.imdb.com/title/'

love_movies_imdb = scraped_info_to_dataframe(url_pattern)
love_movies_imdb.head()

,title,year,imdb_rating,director,video_link
0,"Crazy, Stupid, Love.",2011,7.4,"Glenn Ficarra, John Requa",https://www.imdb.com/title/tt1570728/videogallery/?ref_=tt_ql_pv_2
1,Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb,1964,8.4,Stanley Kubrick,https://www.imdb.com/title/tt1570728/videogallery/?ref_=tt_ql_pv_2
2,Love Actually,2003,7.6,Richard Curtis,https://www.imdb.com/title/tt1570728/videogallery/?ref_=tt_ql_pv_2
3,Shakespeare in Love,1998,7.1,John Madden,https://www.imdb.com/title/tt1570728/videogallery/?ref_=tt_ql_pv_2
4,P.S. I Love You,2007,7.0,Richard LaGravenese,https://www.imdb.com/title/tt1570728/videogallery/?ref_=tt_ql_pv_2

### Saving result to CSV

## DATA CHECK <br>

- Check if data scraped from IMDB matches with the data from API

### Check why in two columns have different year (data from API)

- Checking why and in which movies have different year
- After checking realized that Year from Released is the release year in Spain

In [13]:
#changing column type to datetime

love_movies['released_spain'] = pd.to_datetime(love_movies['released_spain'])

In [14]:
#extracting year from release to another column

love_movies['year_from_released'] = love_movies['released_spain'].dt.year

In [15]:
#changing type to int to be able to compare

love_movies['year'] = love_movies['year'].astype('int')

In [16]:
#checking where year is not equal to the year from release date

df = love_movies[['year', 'year_from_released', 'title', 'imdb_id']]
df.loc[df['year'] != df['year_from_released']]

    year  year_from_released                         title    imdb_id
3   1998  1999                Shakespeare in Love           tt0138097
9   2000  2001                In the Mood for Love          tt0118694
10  1963  1964                From Russia with Love         tt0057076
12  2009  2011                I Love You Phillip Morris     tt1045772
16  2012  2013                Stuck in Love.                tt2205697
18  2003  2004                Love Me If You Dare           tt0364517
19  2006  2007                Wristcutters: A Love Story    tt0477139
22  2008  2009                New York, I Love You          tt0808399
29  1996  1997                Everyone Says I Love You      tt0116242
36  2006  2013                All the Boys Love Mandy Lane  tt0490076

### API data vs web scraping IMDB

In [18]:
#changing 'year' to int and 'imdb_rating' to float in df from imdb to be able to do the comparison

love_movies_imdb['year'] = love_movies_imdb['year'].astype('int')
love_movies_imdb['imdb_rating'] = love_movies_imdb['imdb_rating'].astype('float')

In [19]:
#creating temporary df for api with only the columns that have in imdb df

df_api = love_movies[['title', 'year', 'imdb_rating', 'director']]
df_api.head()

,title,year,imdb_rating,director
0,"Crazy, Stupid, Love.",2011,7.4,"Glenn Ficarra, John Requa"
1,Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb,1964,8.4,Stanley Kubrick
2,"Love, Actually",2003,7.6,Richard Curtis
3,Shakespeare in Love,1998,7.1,John Madden
4,P.S. I Love You,2007,7.0,Richard LaGravenese

In [21]:
#creating temporary df for imdb to match the columns in df from api
#only excluding column with video links because don't have this info in api

df_imdb = love_movies_imdb[['title', 'year', 'imdb_rating', 'director']]
df_imdb.head()

,title,year,imdb_rating,director
0,"Crazy, Stupid, Love.",2011,7.4,"Glenn Ficarra, John Requa"
1,Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb,1964,8.4,Stanley Kubrick
2,Love Actually,2003,7.6,Richard Curtis
3,Shakespeare in Love,1998,7.1,John Madden
4,P.S. I Love You,2007,7.0,Richard LaGravenese

- Before comparing making sure that the types of all the columns in both dataframes have the same type

In [22]:
df_api.info() == df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
title          40 non-null object
year           40 non-null int32
imdb_rating    40 non-null object
director       40 non-null object
dtypes: int32(1), object(3)
memory usage: 1.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
title          40 non-null object
year           40 non-null int32
imdb_rating    40 non-null float64
director       40 non-null object
dtypes: float64(1), int32(1), object(2)
memory usage: 1.2+ KB

True

- checking in general if have any data not matching

In [23]:
df_api == df_imdb

    title  year  imdb_rating  director
0   True   True  False        True
1   True   True  False        True
2   False  True  False        True
3   True   True  False        True
4   True   True  False        True
5   True   True  False        True
6   True   True  False        True
7   True   True  False        True
8   True   True  False        True
9   False  True  False        False
10  True   True  False        True
11  True   True  False        True
12  True   True  False        True
13  True   True  False        True
14  True   True  False        True
15  True   True  False        True
16  True   True  False        True
17  True   True  False        True
18  False  True  False        True
19  True   True  False        True
20  True   True  False        True
21  False  True  False        True
22  True   True  False        False
23  True   True  False        True
24  True   True  False        True
25  True   True  False        True
26  True   True  False        True
27  True   True  False        True
28  True   True  False        True
29  True   True  False        True
30  True   True  False        True
31  True   True  False        True
32  True   True  False        True
33  True   True  False        True
34  True   True  False        True
35  True   True  False        True
36  True   True  False        True
37  True   True  False        True
38  True   True  False        True
39  True   True  False        True

- Checking column by column

In [24]:
#checking where titles don't match

df_api.loc[df_api['title'] != df_imdb['title']]
df_imdb.loc[df_api['title'] != df_imdb['title']]

#titles from IMDB are in the original language, not a big problem because have imdb ID to match both dataframes if needed
#can use one title or another depending on the need

                   title  year imdb_rating         director
2   Love, Actually        2003  7.6         Richard Curtis
9   In the Mood for Love  2000  8.1         Kar-Wai Wong
18  Love Me If You Dare   2003  7.6         Yann Samuell
21  Show Me Love          1998  7.5         Lukas Moodysson

               title  year  imdb_rating                        director
2   Love Actually     2003  7.6          Richard Curtis
9   Faa yeung nin wa  2000  8.1          Kar-Wai Wong (as Kar Wai Wong)
18  Jeux d'enfants    2003  7.6          Yann Samuell
21  Fucking ml      1998  7.5          Lukas Moodysson

In [25]:
#checking where years don't match

df_api.loc[df_api['year'] != df_imdb['year']]

#years matche in all cases

Empty DataFrame
Columns: [title, year, imdb_rating, director]
Index: []

In [26]:
#checking where imdb_ratings don't match

df_api.loc[df_api['imdb_rating'] != df_imdb['imdb_rating']]

#imdb_ratings matche in all cases

,title,year,imdb_rating,director
0,"Crazy, Stupid, Love.",2011,7.4,"Glenn Ficarra, John Requa"
1,Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb,1964,8.4,Stanley Kubrick
2,"Love, Actually",2003,7.6,Richard Curtis
3,Shakespeare in Love,1998,7.1,John Madden
4,P.S. I Love You,2007,7.0,Richard LaGravenese
5,"I Love You, Man",2009,7.0,John Hamburg
6,Love,2015,6.1,Gaspar No
7,Punch-Drunk Love,2002,7.3,Paul Thomas Anderson
8,"Love, Rosie",2014,7.2,Christian Ditter
9,In the Mood for Love,2000,8.1,Kar-Wai Wong
10,From Russia with Love,1963,7.4,Terence Young
11,From Paris with Love,2010,6.5,Pierre Morel
12,I Love You Phillip Morris,2009,6.6,"Glenn Ficarra, John Requa"
13,"Love, Simon",2018,7.6,Greg Berlanti
14,Eat Pray Love,2010,5.8,Ryan Murphy
15,To Rome with Love,2012,6.3,Woody Allen
16,Stuck in Love.,2012,7.2,Josh Boone
17,A Lot Like Love,2005,6.6,Nigel Cole
18,Love Me If You Dare,2003,7.6,Yann Samuell
19,Wristcutters: A Love Story,2006,7.3,Goran Dukic
20,The Love Guru,2008,3.8,Marco Schnabel
21,Show Me Love,1998,7.5,Lukas Moodysson
22,"New York, I Love You",2008,6.3,"Fatih Akin, Yvan Attal, Randall Balsmeyer, Allen Hughes, Shunji Iwai, Wen Jiang, Shekhar Kapur, Joshua Marston, Mira Nair, Natalie Portman, Brett Ratner"
23,American Pie Presents: The Book of Love,2009,4.8,John Putch
24,Love,2015,6.1,Gaspar No
25,Capitalism: A Love Story,2009,7.4,Michael Moore
26,Endless Love,2014,6.3,Shana Feste
27,Down with Love,2003,6.2,Peyton Reed
28,Sea of Love,1989,6.8,Harold Becker
29,Everyone Says I Love You,1996,6.7,Woody Allen
30,Love and Death,1975,7.7,Woody Allen
31,Love,2015,6.1,Gaspar No
32,"I Love You, Beth Cooper",2009,5.3,Chris Columbus
33,The One I Love,2014,7.1,Charlie McDowell
34,Can't Buy Me Love,1987,6.8,Steve Rash
35,For Love of the Game,1999,6.6,Sam Raimi
36,All the Boys Love Mandy Lane,2006,5.5,Jonathan Levine
37,Love Happens,2009,5.6,Brandon Camp
38,Must Love Dogs,2005,5.9,Gary David Goldberg
39,Love Story,1970,6.9,Arthur Hiller

In [27]:
#checking where directors don't match

df_api.loc[df_api['director'] != df_imdb['director']]
df_imdb.loc[df_api['director'] != df_imdb['director']]

#imdb only shows two main directors, to see others need to extend. 
#could consider for the future to modify the code to extract the rest of the info (from the hyperlink) 
#if it's not matching with API

,title,year,imdb_rating,director
9,In the Mood for Love,2000,8.1,Kar-Wai Wong
22,"New York, I Love You",2008,6.3,"Fatih Akin, Yvan Attal, Randall Balsmeyer, Allen Hughes, Shunji Iwai, Wen Jiang, Shekhar Kapur, Joshua Marston, Mira Nair, Natalie Portman, Brett Ratner"

                   title  year  imdb_rating                        director
9   Faa yeung nin wa      2000  8.1          Kar-Wai Wong (as Kar Wai Wong)
22  New York, I Love You  2008  6.3          Fatih Akin, Yvan Attal |

- After checing 4 main columns can see that the data extracted from the API is precise enough

### Creating one dataframe with the most important info from API and IMDB, saving to CSV

## RATING CORRELATION TO VALENTINE'S DAY <br>

- Working with the API dataframe
- Calculate days until Valentines day
- See if ratings are higher when the release date is closer to the valentines day (correlation)

In [28]:
#checking the dataframe from API (to refresh the memory what have in this dataframe)

love_movies.head()

,title,year,rated,released_spain,runtime,genre,director,writer,actors,plot,language,country,awards,poster,ratings,metascore,imdb_rating,imdb_votes,imdb_id,type,dvd,boxoffice,production,website,response,year_from_released
0,"Crazy, Stupid, Love.",2011,PG-13,2011-07-29,118 min,"Comedy, Drama, Romance","Glenn Ficarra, John Requa",Dan Fogelman,"Steve Carell, Ryan Gosling, Julianne Moore, Emma Stone","A middle-aged husband's life changes dramatically when his wife asks him for a divorce. He seeks to rediscover his manhood with the help of a newfound friend, Jacob, learning to pick up girls at bars.",English,USA,Nominated for 1 Golden Globe. Another 3 wins & 22 nominations.,https://m.media-amazon.com/images/M/MV5BMTg2MjkwMTM0NF5BMl5BanBnXkFtZTcwMzc4NDg2NQ@@._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '7.4/10'}, {'Source': 'Rotten Tomatoes', 'Value': '79%'}, {'Source': 'Metacritic', 'Value': '68/100'}]",68,7.4,"447,664",tt1570728,movie,01 Nov 2011,"$83,300,000",Warner Bros. Pictures,N/A,True,2011
1,Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb,1964,PG,1964-01-29,95 min,Comedy,Stanley Kubrick,"Stanley Kubrick (screenplay), Terry Southern (screenplay), Peter George (screenplay), Peter George (based on the book: ""Red Alert"" by)","Peter Sellers, George C. Scott, Sterling Hayden, Keenan Wynn",An insane general triggers a path to nuclear holocaust that a War Room full of politicians and generals frantically tries to stop.,"English, Russian","UK, USA",Nominated for 4 Oscars. Another 13 wins & 7 nominations.,https://m.media-amazon.com/images/M/MV5BZWI3ZTMxNjctMjdlNS00NmUwLWFiM2YtZDUyY2I3N2MxYTE0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '8.4/10'}, {'Source': 'Rotten Tomatoes', 'Value': '98%'}, {'Source': 'Metacritic', 'Value': '97/100'}]",97,8.4,"427,212",tt0057012,movie,02 Nov 2004,N/A,Sony Pictures,N/A,True,1964
2,"Love, Actually",2003,R,2003-11-14,135 min,"Comedy, Drama, Romance",Richard Curtis,Richard Curtis,"Bill Nighy, Gregor Fisher, Rory MacGregor, Colin Firth","Follows the lives of eight very different couples in dealing with their love lives in various loosely interrelated tales all set during a frantic month before Christmas in London, England.","English, Portuguese, French","UK, USA, France",Nominated for 2 Golden Globes. Another 10 wins & 27 nominations.,https://m.media-amazon.com/images/M/MV5BMTY4NjQ5NDc0Nl5BMl5BanBnXkFtZTYwNjk5NDM3._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '7.6/10'}, {'Source': 'Rotten Tomatoes', 'Value': '64%'}, {'Source': 'Metacritic', 'Value': '55/100'}]",55,7.6,"405,898",tt0314331,movie,27 Apr 2004,"$59,365,105",Universal Pictures,N/A,True,2003
3,Shakespeare in Love,1998,R,1999-01-08,123 min,"Comedy, Drama, History, Romance",John Madden,"Marc Norman, Tom Stoppard","Geoffrey Rush, Tom Wilkinson, Steven O'Donnell, Tim McMullan","The world's greatest ever playwright, William Shakespeare, is young, out of ideas and short of cash, but meets his ideal woman and is inspired to write one of his most famous plays.",English,"USA, UK",Won 7 Oscars. Another 57 wins & 87 nominations.,https://m.media-amazon.com/images/M/MV5BM2ZkNjM5MjEtNTBlMC00OTI5LTgyYmEtZDljMzNmNzhiNzY0XkEyXkFqcGdeQXVyNDYyMDk5MTU@._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '7.1/10'}, {'Source': 'Rotten Tomatoes', 'Value': '92%'}, {'Source': 'Metacritic', 'Value': '87/100'}]",87,7.1,"205,961",tt0138097,movie,10 Aug 1999,N/A,Miramax,N/A,True,1999
4,P.S. I Love You,2007,PG-13,2007-12-21,126 min,"Comedy, Drama, Romance",Richard LaGravenese,"Richard LaGravenese (screenplay), Steven Rogers (screenplay), Cecelia Ahern (novel)","Hilary Swank, Gerard Butler, Lisa Kudrow, Gina Gershon",A young widow discovers that her late husband has left her 10 messages intended to help ease her pain and start a new life.,English,USA,2 wins & 4 nominations.,https://m.media-amazon.com/images/M/MV5BNTg2MDg4MjI5NV5BMl5BanBnXkFtZTcwMzQ0MDczMw@@._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '7.0/10'}, {'Source': 'Metacritic', 'Value': '39/100'}]",39,7.0,"194,541",tt0431308,movie,05 Feb 2008,N/A,N/A,N/A,True,2007

### Getting the number of days to Valentine's day per movie

In [29]:
#getting the day of the year when the movie was released

love_movies['year_day_released'] = love_movies['released_spain'].dt.dayofyear

In [30]:
#calculating the number of days from release date to valentine's day

love_movies['days_to_valentine'] = love_movies['year_day_released'].apply(lambda x: (365-x+45) if x > 45 
                                                                               else ((45-x) if x < 45 else 0))

In [31]:
#checking the data types per column

love_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 28 columns):
title                 40 non-null object
year                  40 non-null int32
rated                 40 non-null object
released_spain        40 non-null datetime64[ns]
runtime               40 non-null object
genre                 40 non-null object
director              40 non-null object
writer                40 non-null object
actors                40 non-null object
plot                  40 non-null object
language              40 non-null object
country               40 non-null object
awards                40 non-null object
poster                40 non-null object
ratings               40 non-null object
metascore             40 non-null object
imdb_rating           40 non-null object
imdb_votes            40 non-null object
imdb_id               40 non-null object
type                  40 non-null object
dvd                   40 non-null object
boxoffice             40 non-null object
production            40 non-null object
website               40 non-null object
response              40 non-null object
year_from_released    40 non-null int64
year_day_released     40 non-null int64
days_to_valentine     40 non-null int64
dtypes: datetime64[ns](1), int32(1), int64(3), object(23)
memory usage: 8.7+ KB

In [32]:
#converting imdb_rating column to float type

love_movies['imdb_rating'] = love_movies['imdb_rating'].astype('float')

### Binning the data based on the days to Valentine's day

In [33]:
day_labels = ['very_close', 'close', 'medium_close', 'far_away', 'very_far_away']
love_movies['day_to_valentine_bins'] = pd.cut(love_movies['days_to_valentine'], 5, labels=day_labels) #5 bins, has to match with how many labels have in the list
love_movies.head()

,title,year,rated,released_spain,runtime,genre,director,writer,actors,plot,language,country,awards,poster,ratings,metascore,imdb_rating,imdb_votes,imdb_id,type,dvd,boxoffice,production,website,response,year_from_released,year_day_released,days_to_valentine,day_to_valentine_bins
0,"Crazy, Stupid, Love.",2011,PG-13,2011-07-29,118 min,"Comedy, Drama, Romance","Glenn Ficarra, John Requa",Dan Fogelman,"Steve Carell, Ryan Gosling, Julianne Moore, Emma Stone","A middle-aged husband's life changes dramatically when his wife asks him for a divorce. He seeks to rediscover his manhood with the help of a newfound friend, Jacob, learning to pick up girls at bars.",English,USA,Nominated for 1 Golden Globe. Another 3 wins & 22 nominations.,https://m.media-amazon.com/images/M/MV5BMTg2MjkwMTM0NF5BMl5BanBnXkFtZTcwMzc4NDg2NQ@@._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '7.4/10'}, {'Source': 'Rotten Tomatoes', 'Value': '79%'}, {'Source': 'Metacritic', 'Value': '68/100'}]",68,7.4,"447,664",tt1570728,movie,01 Nov 2011,"$83,300,000",Warner Bros. Pictures,N/A,True,2011,210,200,medium_close
1,Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb,1964,PG,1964-01-29,95 min,Comedy,Stanley Kubrick,"Stanley Kubrick (screenplay), Terry Southern (screenplay), Peter George (screenplay), Peter George (based on the book: ""Red Alert"" by)","Peter Sellers, George C. Scott, Sterling Hayden, Keenan Wynn",An insane general triggers a path to nuclear holocaust that a War Room full of politicians and generals frantically tries to stop.,"English, Russian","UK, USA",Nominated for 4 Oscars. Another 13 wins & 7 nominations.,https://m.media-amazon.com/images/M/MV5BZWI3ZTMxNjctMjdlNS00NmUwLWFiM2YtZDUyY2I3N2MxYTE0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '8.4/10'}, {'Source': 'Rotten Tomatoes', 'Value': '98%'}, {'Source': 'Metacritic', 'Value': '97/100'}]",97,8.4,"427,212",tt0057012,movie,02 Nov 2004,N/A,Sony Pictures,N/A,True,1964,29,16,very_close
2,"Love, Actually",2003,R,2003-11-14,135 min,"Comedy, Drama, Romance",Richard Curtis,Richard Curtis,"Bill Nighy, Gregor Fisher, Rory MacGregor, Colin Firth","Follows the lives of eight very different couples in dealing with their love lives in various loosely interrelated tales all set during a frantic month before Christmas in London, England.","English, Portuguese, French","UK, USA, France",Nominated for 2 Golden Globes. Another 10 wins & 27 nominations.,https://m.media-amazon.com/images/M/MV5BMTY4NjQ5NDc0Nl5BMl5BanBnXkFtZTYwNjk5NDM3._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '7.6/10'}, {'Source': 'Rotten Tomatoes', 'Value': '64%'}, {'Source': 'Metacritic', 'Value': '55/100'}]",55,7.6,"405,898",tt0314331,movie,27 Apr 2004,"$59,365,105",Universal Pictures,N/A,True,2003,318,92,close
3,Shakespeare in Love,1998,R,1999-01-08,123 min,"Comedy, Drama, History, Romance",John Madden,"Marc Norman, Tom Stoppard","Geoffrey Rush, Tom Wilkinson, Steven O'Donnell, Tim McMullan","The world's greatest ever playwright, William Shakespeare, is young, out of ideas and short of cash, but meets his ideal woman and is inspired to write one of his most famous plays.",English,"USA, UK",Won 7 Oscars. Another 57 wins & 87 nominations.,https://m.media-amazon.com/images/M/MV5BM2ZkNjM5MjEtNTBlMC00OTI5LTgyYmEtZDljMzNmNzhiNzY0XkEyXkFqcGdeQXVyNDYyMDk5MTU@._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '7.1/10'}, {'Source': 'Rotten Tomatoes', 'Value': '92%'}, {'Source': 'Metacritic', 'Value': '87/100'}]",87,7.1,"205,961",tt0138097,movie,10 Aug 1999,N/A,Miramax,N/A,True,1999,8,37,very_close
4,P.S. I Love You,2007,PG-13,2007-12-21,126 min,"Comedy, Drama, Romance",Richard LaGravenese,"Richard LaGravenese (screenplay), Steven Rogers (screenplay), Cecelia Ahern (novel)","Hilary Swank, Gerard Butler, Lisa Kudrow, Gina Gershon",A young widow discovers that her late husband has left her 10 messages intended to help ease her pain and start a new life.,English,USA,2 wins & 4 nominations.,https://m.media-amazon.com/images/M/MV5BNTg2MDg4MjI5NV5BMl5BanBnXkFtZTcwMzQ0MDczMw@@._V1_SX300.jpg,"[{'Source': 'Internet Movie Database', 'Value': '7.0/10'}, {'Source': 'Metacritic', 'Value': '39/100'}]",39,7.0,"194,541",tt0431308,movie,05 Feb 2008,N/A,N/A,N/A,True,2007,355,55,very_close

### Checking the correlation between the rating and the days to Valentine's day

- Grouping Days to Valentine's day by the average rating

In [34]:
colnames = ['ave_imdb_rating']
df = pd.DataFrame(love_movies.groupby('day_to_valentine_bins')['imdb_rating'].mean().round(2))
df.columns = colnames
df

                       ave_imdb_rating
day_to_valentine_bins
very_close             6.70
close                  6.89
medium_close           6.52
far_away               6.08
very_far_away          7.12

- From checking this data see that the average rating is not higher if the release date is closer to valentines day

- Checking the correlation

In [37]:
love_movies['days_to_valentine'].corr(love_movies['imdb_rating']).round(3)

0.048

In [ ]:
"""
Low degree: When the value lies below +- 0.29, then it is said to be a small correlation.

As one variable increases, the other variable tends to also increase (if positive) or decrease (if negative).
(if days to valentines increases, then rating decreases, almost no correlation)

"""