<img src="https://bit.ly/2VnXWr2" width="100" align="left">

# Project | API and Web Data Scraping

## Import Useful Libraries

In [70]:
import os
import numpy as np
import pandas as pd
import random
import operator
import re
import math
import matplotlib.pyplot as plt
from matplotlib import cm
import json
import requests
from pandas.io.json import json_normalize
from bs4 import BeautifulSoup
import pypokedex
from pprint import pprint
from lxml import html
from lxml.html import fromstring
import urllib.request
from urllib.request import urlopen
import scrapy

## Working On The API

In [71]:
url = "https://pikalytics.com/api/p/2020-01/ss-1760"

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36"}

response = requests.get(url, headers = headers) 
results = response.json()
flattened_data = json_normalize(results)
pikalyticsDF = flattened_data

In [72]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', -1)

In [73]:
pikalyticsDF = pikalyticsDF.drop(['abilities', 'raw_count', 'items', 'spreads', 'moves', 'stats.hp',
       'stats.atk', 'stats.def', 'stats.spa', 'stats.spd', 'stats.spe', 'ss'], axis=1)
pikalyticsDF.head(3)

,name,types,percent,ranking,viability,team
0,Togekiss,"[fairy, flying]",46.0,1,B,"[{'pokemon': 'Excadrill', 'percent': '38.536', 'types': ['ground', 'steel']}, {'pokemon': 'Arcanine', 'percent': '35.593', 'types': ['fire']}, {'pokemon': 'Dragapult', 'percent': '33.117', 'types': ['dragon', 'ghost']}, {'pokemon': 'Tyranitar', 'percent': '25.192', 'types': ['rock', 'dark']}, {'pokemon': 'Whimsicott', 'percent': '21.162', 'types': ['grass', 'fairy']}, {'pokemon': 'Gyarados', 'percent': '16.886', 'types': ['water', 'flying']}, {'pokemon': 'Duraludon', 'percent': '16.087', 'types': ['steel', 'dragon']}, {'pokemon': 'Rhyperior', 'percent': '15.737', 'types': ['ground', 'rock']}, {'pokemon': 'Gastrodon', 'percent': '14.598', 'types': ['water', 'ground']}, {'pokemon': 'Conkeldurr', 'percent': '14.553', 'types': ['fighting']}]"
1,Arcanine,[fire],36.0,2,B,"[{'pokemon': 'Togekiss', 'percent': '45.687', 'types': ['fairy', 'flying']}, {'pokemon': 'Dragapult', 'percent': '30.663', 'types': ['dragon', 'ghost']}, {'pokemon': 'Tyranitar', 'percent': '28.847', 'types': ['rock', 'dark']}, {'pokemon': 'Duraludon', 'percent': '27.120', 'types': ['steel', 'dragon']}, {'pokemon': 'Excadrill', 'percent': '25.730', 'types': ['ground', 'steel']}, {'pokemon': 'Grimmsnarl', 'percent': '24.526', 'types': ['dark', 'fairy']}, {'pokemon': 'Whimsicott', 'percent': '21.763', 'types': ['grass', 'fairy']}, {'pokemon': 'Gastrodon', 'percent': '19.336', 'types': ['water', 'ground']}, {'pokemon': 'Rotom-Mow', 'percent': '16.678', 'types': ['electric', 'grass']}, {'pokemon': 'Gyarados', 'percent': '15.125', 'types': ['water', 'flying']}]"
2,Dragapult,"[dragon, ghost]",31.0,3,B,"[{'pokemon': 'Togekiss', 'percent': '48.228', 'types': ['fairy', 'flying']}, {'pokemon': 'Excadrill', 'percent': '38.133', 'types': ['ground', 'steel']}, {'pokemon': 'Arcanine', 'percent': '34.788', 'types': ['fire']}, {'pokemon': 'Tyranitar', 'percent': '22.340', 'types': ['rock', 'dark']}, {'pokemon': 'Whimsicott', 'percent': '21.628', 'types': ['grass', 'fairy']}, {'pokemon': 'Gyarados', 'percent': '17.180', 'types': ['water', 'flying']}, {'pokemon': 'Grimmsnarl', 'percent': '16.063', 'types': ['dark', 'fairy']}, {'pokemon': 'Gastrodon', 'percent': '14.782', 'types': ['water', 'ground']}, {'pokemon': 'Rotom-Wash', 'percent': '13.061', 'types': ['electric', 'water']}, {'pokemon': 'Rhyperior', 'percent': '12.991', 'types': ['ground', 'rock']}]"

In [74]:
teams = pikalyticsDF["team"].tolist()

In [75]:
teamsDF = pd.DataFrame(teams)

In [76]:
teamsDF = teamsDF.drop([3,4,5,6,7,8,9,10,11], axis=1)

In [77]:
teamsDF.head(5)

,0,1,2
0,"{'pokemon': 'Excadrill', 'percent': '38.536', 'types': ['ground', 'steel']}","{'pokemon': 'Arcanine', 'percent': '35.593', 'types': ['fire']}","{'pokemon': 'Dragapult', 'percent': '33.117', 'types': ['dragon', 'ghost']}"
1,"{'pokemon': 'Togekiss', 'percent': '45.687', 'types': ['fairy', 'flying']}","{'pokemon': 'Dragapult', 'percent': '30.663', 'types': ['dragon', 'ghost']}","{'pokemon': 'Tyranitar', 'percent': '28.847', 'types': ['rock', 'dark']}"
2,"{'pokemon': 'Togekiss', 'percent': '48.228', 'types': ['fairy', 'flying']}","{'pokemon': 'Excadrill', 'percent': '38.133', 'types': ['ground', 'steel']}","{'pokemon': 'Arcanine', 'percent': '34.788', 'types': ['fire']}"
3,"{'pokemon': 'Togekiss', 'percent': '59.572', 'types': ['fairy', 'flying']}","{'pokemon': 'Tyranitar', 'percent': '47.122', 'types': ['rock', 'dark']}","{'pokemon': 'Dragapult', 'percent': '40.479', 'types': ['dragon', 'ghost']}"
4,"{'pokemon': 'Duraludon', 'percent': '36.074', 'types': ['steel', 'dragon']}","{'pokemon': 'Togekiss', 'percent': '32.431', 'types': ['fairy', 'flying']}","{'pokemon': 'Arcanine', 'percent': '25.983', 'types': ['fire']}"

In [78]:
teamsDF = teamsDF.rename(columns={0:"Most common teammate",
                            1:"2nd most common teammate",
                            2:"3rd most common teammate"})
teamsDF.head(5)

,Most common teammate,2nd most common teammate,3rd most common teammate
0,"{'pokemon': 'Excadrill', 'percent': '38.536', 'types': ['ground', 'steel']}","{'pokemon': 'Arcanine', 'percent': '35.593', 'types': ['fire']}","{'pokemon': 'Dragapult', 'percent': '33.117', 'types': ['dragon', 'ghost']}"
1,"{'pokemon': 'Togekiss', 'percent': '45.687', 'types': ['fairy', 'flying']}","{'pokemon': 'Dragapult', 'percent': '30.663', 'types': ['dragon', 'ghost']}","{'pokemon': 'Tyranitar', 'percent': '28.847', 'types': ['rock', 'dark']}"
2,"{'pokemon': 'Togekiss', 'percent': '48.228', 'types': ['fairy', 'flying']}","{'pokemon': 'Excadrill', 'percent': '38.133', 'types': ['ground', 'steel']}","{'pokemon': 'Arcanine', 'percent': '34.788', 'types': ['fire']}"
3,"{'pokemon': 'Togekiss', 'percent': '59.572', 'types': ['fairy', 'flying']}","{'pokemon': 'Tyranitar', 'percent': '47.122', 'types': ['rock', 'dark']}","{'pokemon': 'Dragapult', 'percent': '40.479', 'types': ['dragon', 'ghost']}"
4,"{'pokemon': 'Duraludon', 'percent': '36.074', 'types': ['steel', 'dragon']}","{'pokemon': 'Togekiss', 'percent': '32.431', 'types': ['fairy', 'flying']}","{'pokemon': 'Arcanine', 'percent': '25.983', 'types': ['fire']}"

In [79]:
teamsDF_First = teamsDF["Most common teammate"].tolist()
teamsDF_First = pd.DataFrame(teamsDF_First)
teamsDF_First["Most common teammate"] = teamsDF_First["pokemon"].astype(str) + " " + teamsDF_First["percent"].astype(str) +"% " + teamsDF_First["types"].astype(str)
teamsDF_First = teamsDF_First.drop(["pokemon","percent","types"], axis=1)
teamsDF_First.head(5)

                    Most common teammate
0  Excadrill 38.536% ['ground', 'steel']
1  Togekiss 45.687% ['fairy', 'flying']
2  Togekiss 48.228% ['fairy', 'flying']
3  Togekiss 59.572% ['fairy', 'flying']
4  Duraludon 36.074% ['steel', 'dragon']

In [80]:
teamsDF_Second = teamsDF["2nd most common teammate"].tolist()
teamsDF_Second = pd.DataFrame(teamsDF_Second)
teamsDF_Second["2nd most common teammate"] = teamsDF_Second["pokemon"].astype(str) + " " + teamsDF_Second["percent"].astype(str) +"% " + teamsDF_Second["types"].astype(str)
teamsDF_Second = teamsDF_Second.drop(["pokemon","percent","types"], axis=1)
teamsDF_Second.head(5)

                2nd most common teammate
0  Arcanine 35.593% ['fire']
1  Dragapult 30.663% ['dragon', 'ghost']
2  Excadrill 38.133% ['ground', 'steel']
3  Tyranitar 47.122% ['rock', 'dark']
4  Togekiss 32.431% ['fairy', 'flying']

In [81]:
teamsDF_Third = teamsDF["3rd most common teammate"].tolist()
teamsDF_Third = pd.DataFrame(teamsDF_Third)
teamsDF_Third["3rd most common teammate"] = teamsDF_Third["pokemon"].astype(str) + " " + teamsDF_Third["percent"].astype(str) +"% " + teamsDF_Third["types"].astype(str)
teamsDF_Third = teamsDF_Third.drop(["pokemon","percent","types"], axis=1)
teamsDF_Third.head(3)

                3rd most common teammate
0  Dragapult 33.117% ['dragon', 'ghost']
1  Tyranitar 28.847% ['rock', 'dark']
2  Arcanine 34.788% ['fire']

## Working On The web

In [ ]:
url1 = "https://www.wikidex.net/wiki/Lista_de_Pok%C3%A9mon_con_sus_estad%C3%ADsticas_base"

In [ ]:
html = requests.get(url1).content
soup = BeautifulSoup(html, "lxml")
soup

In [ ]:
table = soup.find_all("table", {"class":"tabpokemon sortable mergetable tablemanager"})[0]
type(table)

In [ ]:
rows = table.find_all("tr")
rows = [row.text.strip().split("\n") for row in rows]
rows = [list(filter(None,row)) for row in rows]
wikidexDF = pd.DataFrame(rows)

In [ ]:
wikidexDF.head(5)

In [ ]:
wikidexDF = wikidexDF.drop([11], axis=1)
wikidexDF.head(5)

In [ ]:
wikidexDF = wikidexDF.drop([0], axis=0)
wikidexDF.head(5)

In [ ]:
colnames = ["National Dex #", "Pok√©mon", "HP", "Attack", "Defense", "Special Attack", "Special Defense", "Speed", "Mean", "SD", "Total"]

wikidexDF = pd.DataFrame(rows[1:], columns = colnames)

In [ ]:
wikidexDF.head(10)

## Combining Information

In [ ]:
#pokemonDF = pokemonDF.style.hide_index()